# Configurações do Servidor
PORT=3000

# Conexão com o Banco de Dados (MongoDB)
MONGODB_URI=mongodb://localhost:27017/barberrocha

# Segurança JWT
JWT_SECRET=sua_chave_secreta_jwt_aqui

# Gateway de WhatsApp (Ex: Z-API / Evolution API)
WHATSAPP_API_URL=https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text
WHATSAPP_API_TOKEN=Bearer seu_token_de_acesso_aqui
WHATSAPP_SENDER_ENABLED=false


